In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
df = pd.read_csv('openaqi25-31.csv')

In [4]:
stations = df.location.unique()
df['local'] = pd.to_datetime(df['local'])
df['date'] = df['local'].dt.date
df['hour'] = df['local'].dt.hour
# df2 = df.groupby(['location','date','hour'])['value'].mean().to_frame()
#         print(len(one_day['local'].dt.hour.unique()))

In [5]:

df4 = pd.DataFrame()

for day in df['date'].unique():
    one_day = df[(df['date']==day) & (df['location']==stations[11])]
    df4 = df4.append(one_day.groupby(['hour'])['value'].mean().to_frame().reset_index())
    print(day,len(one_day['local'].dt.hour.unique()),stations[32])

2020-10-31 20 US Diplomatic Post: New Delhi
2020-10-30 12 US Diplomatic Post: New Delhi
2020-10-29 21 US Diplomatic Post: New Delhi
2020-10-28 21 US Diplomatic Post: New Delhi
2020-10-27 18 US Diplomatic Post: New Delhi
2020-10-26 16 US Diplomatic Post: New Delhi
2020-10-25 21 US Diplomatic Post: New Delhi

In [16]:
df5 = pd.DataFrame()
c=0
prev
for i,r in df4.iterrows():
    while c!=r['hour']:
        df5 = df5.append(pd.DataFrame({"hour":[c],"value":[prev+20]}))
        prev = prev+20
        c = (c+1)%24            
    df5 = df5.append(r)
    prev = r['hour']
    c = (c+1)%24

In [17]:
df5

    hour  value
0    0.0  567.0
1    1.0  583.0
2    2.0  530.0
3    3.0  495.0
4    4.0  486.0
..   ...    ...
16  19.0  129.0
17  20.0  149.0
18  21.0  175.5
19  22.0  182.5
20  23.0  165.0

[168 rows x 2 columns]

In [19]:
df5.to_csv('station_11.csv')